@charset 'utf-8';
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

:root {
  font-size: 62.5%; /* 10px */
}

button {
  background: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
  width: 100%;
  max-width: 100%;
}

body {
  font-family: "Pretendard";
}

br {
  /*   display: none; */
}

.slogan br {
  display: none;
}

/* .change {
  display: none;
} */

.hidden {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.ellipsis {
  -webkit-e-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;

  display: -webkit-box;

  word-break: keep-all;
}

.ellipsis2 {
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  display: -webkit-box;

  word-break: keep-all;
}

:root {
  --clientWidth: 100vw;
}

button {
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;

  vertical-align: middle;
  letter-spacing: normal;
  word-spacing: normal;
}

button,
input,
select {
  display: inline-block;
}
