@charset 'utf-8';

body {
  line-height: 1;
}

.navi-skip a {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  background: #000;
  color: #fff;
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  line-height: 2rem;
}

/* header CSS */
#header {
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  height: 8.4rem;
  background: #00000020;
  transform: translateX(-50%);
  transition: top 250ms ease-in-out;

  z-index: 100;
}

#header::before {
  content: "";
  display: block;
  position: absolute;
  top: 84px;
  left: calc(50% - 50vw);
  width: 100vw;
  height: 1px;
  background-color: rgba(34, 34, 34, 0.1);
}

/* 넓이를 주기 위해서 한 것 같음 */
.wrap {
  width: 1600px;
  margin: 0 auto;
  position: relative;
}

#header .logo-box {
  position: relative;
  width: 160px;
  /*  line-height: 0; */
  color: transparent;
  font-size: 0;
  z-index: 20;
  line-height: 0;
}

/* #header .logo-box a 로 이미지가 두개로 나옴. */
/* 이유 - <a></a> 태그 내부에 콘텐츠가 들어있음. */
/* 브라우저는 기본적으로 a태그 내부의 콘텐츠를 (텍스트, 요소 등) 표시하려고 함 */
/* background-image로 로고가 들어가면서 , 텍스트도 남아있어 이미지가 두개로 표시 될 경우도 있음/ */
#header .logo-box .logo {
  position: absolute;
  top: 20px;
  left: 0;

  z-index: 20;
  width: 160px;
  height: 64px;
  background-image: url(../img/logo-color.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* 이걸 해야 헤더의 높이가 맞음. */
/* 이 요소들은 기본적으로 헤더 내부에서 특정 높이를 가지고 있을 경우가 큼. */
/* display : none을 사용하면서 공간이 사라짐 */
/* 특히 gnb-top, copy-right가 사라지면서 헤더 높이가 알맞게 맞을 경우가 큼 */
.menu-open,
.gnb-curtain,
.header-copyright,
.gnb-top {
  display: none;
}

/* 서브메뉴 하위 요소들의 부모가 되기 위한 relative */
.depth,
.depth_list,
.depth_item,
.depth_text {
  position: relative;
}

/* main */
/* sec01 */
#container {
  overflow: hidden;
}

.main .sec01 {
  position: relative;
  padding-bottom: 14.3rem;
}

.main .sec01 .visual-slide {
  /* 화면에 맞게 설정 */
  position: relative;
  height: 100vh;
  min-height: 70rem;
  max-height: 108rem;

  background: #5f5;
}

.main .sec01 .visual-slide .text-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  text-align: center;

  color: white;

  /* allowTouchMove: true 가 저 밑에 코드가 없으면 안먹는다.  */
  /* text-box가 슬라이드 위에 겹쳐 있는 레이어로 작동하여 터치(또는 마우스 드래그) 이벤트 가로채기 때문에  */
  /* 즉 text-box가 슬라이드를 가로 막고 있어서 작동되지 않았다. */
  pointer-events: none;
}

.main .sec01 .visual-slide .text-box .holding {
  width: 100%;
  margin-bottom: 2.8rem;

  position: relative;
  font-size: 0;
  height: 8rem;
}

.main .sec01 .visual-slide .text-box .holding .change {
  font-size: 8rem;
  font-weight: 700;
  letter-spacing: 0;
  width: 100%;
  line-height: 8rem;
  color: white;

  position: absolute;
  top: 0;
  left: 0;

  opacity: 0;
  filter: blur(50px);
  visibility: hidden;

  transition: 1000ms ease-in-out;

  transition-property: opacity, filter, visibility;
}

/* change에 클래스 .on이 붙었을 떄 */
.main .sec01 .visual-slide .text-box .holding .change.on {
  opacity: 1;
  filter: blur(0px);
  visibility: visible;
}

.main .sec01 .visual-slide .text-box .slogan {
  width: 100%;
  font-size: 2rem;
  letter-spacing: 0;
  font-weight: 400;
}

.main .visual-slide .slide-paging {
  position: absolute;
  /* %를 사용하지 않고 px를 사용한 이유는 높이를 고정하기 위해서인 것 같음. */
  /* 반응형웹에서도 일관된 위치를 유지한다. */
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  z-index: 10;

  /* 본페이지에서는 gap을 사용하지 않고 거리가 간격이 있음. */
  /* inline-block과 letter-spacing을 이용하여 간격을 조정한 방법같음. */
  gap: 4rem;
}

.main .visual-slide .slide-paging li {
  position: relative;
  width: 14rem;
}

.main .visual-slide .slide-paging li button {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 0;
  color: rgba(255, 255, 255, 0.7);
  left: 0;

  cursor: pointer;
}

.main .visual-slide .slide-paging .btn-name {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 1.2rem;
  font-size: 1.8rem;
  font-weight: 300;
}

.main .visual-slide .slide-paging .btn-gage {
  display: inline-block;
  width: 100%;
  height: 2px;
  background: rgba(255, 255, 255, 0.5);
  position: relative;
}

.main .visual-slide .slide-paging .btn-gage .btn-bar {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  width: 0;
  background-color: white;

  display: none;
}

.main .visual-slide .slide-paging li.active button {
  color: white;
}

.main .visual-slide .slide-paging li.on .btn-gage .btn-bar {
  display: inline-block;
  animation: slideProgress 3s forwards linear;
}

@keyframes slideProgress {
  to {
    width: 100%;
  }
}

/* swiper-wrap 메인화면 */
/* 이미지 */
.main .sec01 .visual-slide .slide_item .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* overflow-hidden 을 사용하면 bg의 img가 잘리지 않고 한 화면에 꽉 차게 들어옴 */
.main .sec01 .visual-slide .slide_item {
  overflow: hidden;
}

/* 이미지 명도 낮추기 */
/* 내가 사용하는 방법 */
/* .main .sec01 .visual-slide .slide_item .bg:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;

  background-color: rgba(0, 0, 0, 0.3);
} */

/* 본페이지에서 사용하는 방식 */
.main .sec01 .visual-slide .slide_item .bg::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../img/blend_main.png) repeat;

  /* 블랜드 모드 */
  /* 필요한 것 - background(배경)이 필요함. , 부모요소가 relative, absolute 이어야 함. */
  mix-blend-mode: multiply;
  /* z-index를 없애야 잘보임 - 본페이지는 z-index : 1로 되어있음음 */
  /* 내가 보기엔 아직 swiper.js을 사용하지 않아서 그럼 */
  z-index: 1;
  opacity: 0.5;
}

.main .sec01 .visual-slide .slide_item .bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center bottom;
}

/* main sec02 */
.main .sec02 {
  text-align: center;
  color: #181818;
  margin-bottom: 8.9rem;
}

.main .sec02 .brand-slogan {
  font-size: 4.2rem;
  font-weight: 700;
  /* 본페이지는 margin-bottom을 주는 형식을 했음 */
  margin-bottom: 2.4rem;
}

.main .sec02 .brand-text {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3.4rem;
  margin-bottom: 5rem;
}

.main .sec02 .mask-text {
  width: 120rem;
  height: 21rem;
  margin: 0 auto;

  position: relative;
  overflow: hidden;
  font-size: 0; /* 여백 없애기 */

  border-radius: 2rem;
  margin-bottom: 5rem;
}

/* clip-path을 사용한 애니메이션 mask-type */
/* mask-text에 before을 줘서 이미지에 텍스트를 이용해 꾸미기. */
.main .sec02 .mask-text::before {
  content: "YUHANCARE";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  /* 요소의 배경(색상이나 이미지)이 어느 부분까지 차지할 지 */
  /* text는 요소의 배경이 텍스트까지만 차지(마스크 효과, 클리핑 효과) */
  -webkit-background-clip: text;

  /* 텍스트에 이미지 넣기 */
  font-size: 190px;
  font-weight: 900;
  color: transparent;
  white-space: nowrap; /* 줄바꿈, 공백 여부를 설정 -> nowrap을 줄바꿈이 일어나지 않음 */
}

/* 텍스트에 들어갈 이미지를 넣어준다. (클리핑 마스크.) 타입별로 */
.main .sec02 .mask-text.type1::before {
  background-image: url(../img/mask-type1.png);
}
.main .sec02 .mask-text.type2::before {
  background-image: url(../img/mask-type2.png);
}
.main .sec02 .mask-text.type3::before {
  background-image: url(../img/mask-type3.png);
}

/* 공통 CSS 만들기(보여지는 디자인) */
.main .sec02 .mask-text .zoom-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-size: 120rem;
  /* clip-path 사용하기 위한 CSS */
  clip-path: circle(0%);
}

/* clip-path 애니메이션을 위한 on클래스에 CSS 만들기 */
.main .sec02 .mask-text.on .zoom-circle.on {
  clip-path: circle(100%);
  transition: clip-path 1s 800ms ease-out;
}

/* 버튼마다 다른 이미지를 넣기 위해 type1,2,3에 각각의 이미지 넣어주기 */
.main .sec02 .mask-text.type1 .zoom-circle {
  background-image: url(../img/mask-type1.png);
}

.main .sec02 .mask-text.type2 .zoom-circle {
  background-image: url(../img/mask-type2.png);
}

.main .sec02 .mask-text.type3 .zoom-circle {
  background-image: url(../img/mask-type3.png);
}

.main .sec02 .conbox .tab-box {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 2rem;

  margin-bottom: 5rem;
}

.main .sec02 .conbox .tab-box .brand-tab {
  width: 18rem;
  height: 5.8rem;
  border: 1px solid #181818;
  border-radius: 2.9rem;
  font-size: 2.4rem;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;
}
.main .sec02 .conbox .tab-box .brand-tab.active {
  background: #181818;
  color: white;
}

.main .sec02 .match-box .match-text {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.6rem;
  margin-bottom: 4rem;

  display: none;
}

/* 맨처음 보여지는 글 */
.main .sec02 .match-box .match-text.active {
  display: block;
}

.main .sec02 .link-box {
  margin-bottom: 8.8rem;
}

.main .sec02 .link-box a {
  font-size: 2.4rem;
  font-weight: 600;
  color: #181818;
  position: relative;

  line-height: 2.4rem;
}

.main .sec02 .link-box a::after {
  content: "";
  display: inline-block;

  width: 0.9rem;
  height: 2.4rem;
  margin-left: 1.2rem;
  vertical-align: top;

  background-image: url(../img/link-arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.main .sec02 .main-banner {
  position: relative;
  overflow: hidden;
}
/* clip-path 사용 애니메이션 */
.main .sec02 .main-banner.on {
}

.main .sec02 .main-banner .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(9, 9, 9, 0.27) url(../img/main-banner-bg01.png) no-repeat
    center / cover;

  /* background로 들어간 건 background-blend-mode로 */
  /* mix-blend-mode: multiply; */
  background-blend-mode: multiply;

  transition: 600ms ease-in-out;
}

.main .sec02 .main-banner:hover .bg {
  transform: scale(1.1);
}

.main .sec02 .main-banner a {
  height: 46rem;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;

  flex-direction: column;
}

.main .sec02 .main-banner a .banner-name {
  font-weight: 700;
  font-size: 4.2rem;
  line-height: 5.2rem;

  margin-bottom: 2.5rem;
}

.main .sec02 .main-banner a .banner-link {
  font-size: 1.8rem;
  font-weight: 700;

  width: 21rem;
  height: 4rem;
  border: 1px solid white;
  border-radius: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.main .sec02 .main-banner a .banner-link::after {
  content: "";
  display: inline-block;
  width: 0.9rem;
  height: 1.6rem;
  background: url(../img/link-arror-white.svg) no-repeat center/ contain;
  margin-left: 1.2rem;

  vertical-align: top;
}

/* sec03 시작 정보섹션 */
.main .sec03 {
  position: relative;
}

.main .main-inner {
  width: 120rem;
  margin: 0 auto;

  position: relative;
}

.main .sec03 .news-box {
  margin-bottom: 11.4rem;
}
.main .sec03 .flex-box {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 5rem;
}
.main .sec03 .flex-box .media-rm {
  font-size: 4.2rem;
  font-weight: 700;
}
.main .sec03 .flex-box .media-rm span {
  font-size: 2.6rem;
  font-weight: 500;
}

.main .sec03 .flex-box .go-media {
  /* 내가 버튼 만드는 방식 */
  /*   width: 18rem;
  height: 4.8rem; */
  border: 1px solid #181818;
  border-radius: 2.4rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 4.6rem;
  color: #181818;
  padding: 0 17px;

  /*  display: flex;
  align-items: center;
  justify-content: center; */

  /* 본페이지에서 만든 방법 */
}

.main .sec03 .flex-box .go-media::after {
  content: "";
  display: inline-block; /* inline-block으로 해야 한줄로 됨 */
  width: 0.9rem;
  height: 4.6rem;
  background: url(../img/link-arrow.svg) no-repeat center / contain;

  margin-left: 1.2rem;

  vertical-align: top;
}

.main .sec03 .news-conbox {
  font-size: 0;
}

/* flex대신 inline-block을 사용한 이유는 */
/* 1. 줄 바꿈 제어 가능 - inline-block은 한줄에 여러 개 배치되면서도 특정 너비를 유지함 */
/* text-align : center 와 justify-content - space-between 없이 중앙 정렬 가능 */

/* 2. 높이가 자동으로 컨텐츠에 맞춰짐 */
/* inline-block은 각 요소에 내용물에 따라 높이가 다를 수 있음 */
/* 기사(news-title)이 길어지면, 걱 아이템의 높이가 자연스럽게 다를 수 있도록 */
/* 즉, 높이 균일화를 강제하지 않아서, 가변적인 콘텐츠 레이아웃을 만들 때 유리함  */

.main .sec03 .news-conbox .news-list {
  /* flex를 활용한 줄 알았는데 inline-block으로 만듬. */
  /* flex를 사용 시 글이 위로 올라가고 inline-block으로 할 시에는 글이 아래로 내려간다. */
  /*  display: flex;
  justify-content: space-between; */
}

/* width와 height을 따로 준 이유 */
/* .news-item 은 전체 리스트 (news-list)안에서 각 아이템의 너비를 고정하기 위해서. */
/* inline-block을 사용했기에 너비가 없으면 내용물의 크기에 따라 자동으로 조절됨. */
/* 결국, 강제로 너비를 맞춰 동일한 너비를 가지도록 함. */
.main .sec03 .news-conbox .news-list .news-item {
  width: 39rem;
  display: inline-block;
}

/* 형제 선택자 -> .news-item의 뒤에 바로 오는 news-item들에게만 스타일을 적용 */
/* 두번째 요소부터 */
.main .sec03 .news-conbox .news-list .news-item + .news-item {
  margin-left: 1.5rem;
}

.main .sec03 .news-conbox .news-list .news-item a {
  width: 100%;
  display: inline-block;

  color: #181818;
}

.main .sec03 .news-conbox .news-list .news-item .news-thumb {
  height: 30rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
}

.main .sec03 .news-conbox .news-list .news-item .news-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;

  border-radius: 2rem;
}

.main .sec03 .news-conbox .news-list .news-item .news-title {
  font-size: 2rem;
  font-weight: 500;
  color: #181818;
  line-height: 2rem;

  padding: 0 5px;

  /* 텍스트가 길 때 지정된 영역을 넘어갈 경우 , 한 줄로 유지하면서 ...(말줄임표) 로 표시 */
  white-space: nowrap; /* 줄바꿈없이 한 줄로 유자 */
  overflow: hidden;
  text-overflow: ellipsis; /* 텍스트가 잘릴 경우 ...(말줄임표) 로 표시 */
}

/* hover 효과 */
.link-deco {
  position: absolute;
  bottom: -50px;
  right: -50px;
  width: 100px;
  height: 100px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;

  /* 위치 보이지 않게  */
  opacity: 0;

  overflow: visible;

  /* 마우스 이벤트 X */
  pointer-events: none;

  transition: 250ms ease;
}

a:hover .link-deco {
  bottom: -30px;
  right: -30px;

  opacity: 1;
  overflow: visible;
}

.link-deco::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background: url(../img/link-deco.svg) no-repeat center / contain;

  position: absolute;
  /* 정가운데 맞추는 법 */
  /*   top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */

  top: 25px;
  left: 25px;
}

/* link-deco가 자리 잡을 수 있도록 기준이 되는 부모요소를 잡아주기 위해 */
/* HTML에 link-icon을 설정한 후에 CSS 주기 */
.link-icon {
  position: relative;
  overflow: hidden;
}

/* 유튜브자료 섹션 : grid를 활용한 것 같음 */
.main .sec03 .youtube-box {
  margin-bottom: 15rem;
}
.main .sec03 .youtube-box .youtube-list {
  display: grid;
  gap: 1.5rem;

  /* grid 횔용 행과 열 만들기 */
  /* 2행의 4열이 만들어짐 */

  /* 2개의 행을 만들고 각 행이 동일한 크기로 (1fr) 분배됨 */
  grid-template-rows: repeat(2, 1fr);

  /* 4개의 열을 만들고,각 열이 동일한 크기로 분배 */
  grid-template-columns: repeat(4, 1fr);
}

/* grid 요소들에게 개별 위치 선정  */
/* nth:nth-child() 활용 */
.main .sec03 .youtube-box .youtube-list .youtube-item:nth-child(1) {
  /* grid-area 는 row-start / column-start /row-end / column-end 형태로 작성 */
  /* (1,1) 위치에서 시작 -> (3,3) 위치까지 차지 */
  /* 즉, 첫번쨰 아이템은 2행 2열을 차지 */
  grid-area: 1/1/3/3;
}

/* 1번 아이템만 크기가 크고 나머지 4개는 일정한 크기로 정렬됨 */
.main .sec03 .youtube-box .youtube-list .youtube-item:nth-child(2) {
  grid-area: 1/3/2/4;
}
.main .sec03 .youtube-box .youtube-list .youtube-item:nth-child(3) {
  grid-area: 1/4/2/5;
}
.main .sec03 .youtube-box .youtube-list .youtube-item:nth-child(4) {
  grid-area: 2/3/3/4;
}
.main .sec03 .youtube-box .youtube-list .youtube-item:nth-child(5) {
  grid-area: 2/4/3/5;
}

.main .sec03 .youtube-box .youtube-list .youtube-item {
  /* grid을 활용해 최소 높이 주기 */
  min-height: 23rem;
}

.main .sec03 .youtube-box .youtube-list .youtube-item a {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}
.main .sec03 .youtube-box .youtube-list .youtube-item a img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  object-fit: cover;
  object-position: center;
}

/* 인물 섹션 */
.main .sec03 .analects-box {
  height: 24rem;
  background: #f0f0f0;
  text-align: center;
  padding-left: 38rem;

  position: relative;

  border-radius: 2rem;
}
.main .sec03 .analects-box .img-box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 41rem;
  height: 29rem;
}
/* 이미지 한곳으로 뭉치기  */
.main .sec03 .analects-box .img-box img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main .sec03 .analects-box .analects-text {
  position: relative;
  height: 15rem;
}

.main .sec03 .analects-box .analects-text p {
  position: absolute;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 17rem;

  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3.4rem;
}

a {
  display: inline-block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main .sec03 .analects-box .lihan-link {
  width: 22rem;
  height: 4.8rem;
  border: 1px solid #000;
  color: #000;
  border-radius: 2.4rem;

  /* inline-flex로 가능 */
  /* 
  display: inline-flex;
  align-items: center;
  justify-content: center; */

  /* line-height를 줘서 가운데 맞춤. */
  line-height: 4.6rem;
  font-size: 1.8rem;
  font-weight: 600;
}

.main .sec03 .analects-box .lihan-link::after {
  content: "";
  width: 0.9rem;
  height: 4.6rem;
  background: url(../img/link-arrow.svg) no-repeat center / contain;

  display: inline-block;
  margin-left: 1.2rem;
  vertical-align: top;
}

/* 링크섹션 sec04 */
/* 여긴 paading으로 줌 */
.main .sec04 {
  padding: 10rem 0;
}

/* li는 선만 명령해줌 */
.main .sec04 .link-list li:first-child {
  border-top: 2px solid #181818;
}

.main .sec04 .link-list li {
  border-bottom: 2px solid #b9b9b9;
}

.main .sec04 .link-list li a {
  display: block;
  height: 9.6rem;
  color: #181818;
  display: flex;
  align-items: center;

  padding: 0 1.5rem;

  /* 부모 요소가 됨 */
  position: relative;
}

.main .sec04 .link-list li a span {
  display: inline-block;
}

.main .sec04 .link-list li a .page-name {
  /* 텍스트 공간에 넓이를 줘서 공간을 띄움 */
  width: 30rem;
  font-size: 2.6rem;
  font-weight: 700;
}

/* 원형안에 아이콘 넣기기 */
.main .sec04 .link-list li a .page-name:after {
  content: "";
  display: block;
  /* 자리 잡기 위해 */
  position: absolute;
  top: calc(50% - 15px);
  right: 15px;
  /* 원형 크기 */
  width: 30px;
  height: 30px;
  border-radius: 15rem;
  /* 12px center - 12px 가로방향 위치에서 12px 떨어짐 */
  /* 원형 안에 아이콘을 넣고 싶다면 contain이나 cover 사용 X - 아이콘의 크기가 작아야함 */
  background: black url(../img/link-arror-white.svg) no-repeat 12px center;
}

.main .sec04 .link-list li a .explain {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.8rem;
  word-break: keep-all;
  /* 부모 요소의 전체 너비(100%) 에서 특정한 고정 너비 (330px)를 제외한 나머지 공간을 차지 */
  /* 330px이 page-name 300px과 padding 15px 좌우로 더해 30px 다 더하면 330px를 제외하고 나머지 공간을 차지하게 한 것 같음 */
  /* padding이 아니라 아이콘 크기가 30px이라서 */
  width: calc(100% - 330px);
}

/* sec05 -> 유한건강생활 섹션 */

.main .sec05 {
  /* hidden을 사용해야 scale이 커질 때 벗어나지 않음 */
  overflow: hidden;
  position: relative;
}

.main .sec05 a {
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: absolute;
  top: 0;
  left: 0;
}

.main .sec05 a .title {
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 4.2rem;
}

.main .sec05 .bg {
  height: 50rem;
  background: rgba(0, 0, 0, 0.4) url(../img/sec05-bg.png) no-repeat center /
    cover;
  background-blend-mode: multiply;

  /* transform-origin 은 transform과 함께 사용하는 속성 */
  /* transform 을 위한 기준점을 정하기 위해 선정 -> 효과가 시작되는 곳 */
  /* 기본값은 50% 50% -center인 모양이다. */
  transform-origin: center;

  transition: 600ms ease-in-out;
}

/* 이미지 호버 시 효과 */
/* bg:hover로 효과를 주게 되면 hover효과가 bg위를 a 태그가 가로막기 때문에 효과가 나오지 않음. */
/* sec05 요소 자체에 hover가 되는 것. (이 디자인에는 전체를 해도 되는 것) */
.main .sec05:hover .bg {
  transform: scale(1.1);
}

/* footer 섹션  */
#footer {
  padding: 5rem 0;
}

#footer .wrap {
  width: 120rem;
}

/* footer - top */
#footer .footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 3rem;
}

#footer .footer-top .footer-logo {
  width: 18rem;
  height: 3.9rem;
}

#footer .footer-top .footer-logo img {
  width: 100%;
  height: 100%;
}

#footer .footer-top .dropdown-box {
  position: relative;
}

#footer .footer-top .dropdown-box .link_list {
  position: relative;
  width: 18rem;
}

/* 드롭다운 박스 서브메뉴 */
#footer .footer-top .dropdown-box .link_list ul {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;

  width: 100%;
  height: 14.2rem;
  background: #e5e5e5;

  /*  border-radius: 0px 0px 20px 20px; */
  border-radius: 18px;

  padding: 5px 10px;

  transition: 250ms ease-in-out;

  opacity: 0;
  overflow: visible;
}

/* active 클래스 추가 */
#footer .footer-top .dropdown-box .link_list ul.active {
  /* 패밀리사이트 버튼이 닿는 위에 지점 보더의 라디오스를 0으로 */
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  /* 클래스 부여 시에 보이게 */
  opacity: 1;

  overflow: visible;
}

#footer .footer-top .dropdown-box .link_list ul li a {
  color: #181818;
  display: block;
  font-size: 1.6rem;
  font-weight: 300;

  line-height: 2.3rem;
  padding: 5px 0;
}

#footer .footer-top .dropdown-box .link_list .link_open {
  display: block;
  position: relative;
  width: 100%;
  height: 3.6rem;
  background: #e5e5e5;
  border-radius: 1.8rem;
  box-sizing: border-box;

  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.6rem;
  color: black;

  /* 텍스트 정렬 */
  padding-left: 2rem;
  text-align: left;

  transition: 250ms ease-in-out;
}

/* on클래스를 붙임 */
#footer .footer-top .dropdown-box .link_list .link_open.on {
  /* 서브메뉴와 맞닿는 부분에 보더 아래를 0를 줌 */
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#footer .footer-top .dropdown-box .link_list .link_open:before {
  content: "";
  display: block;
  width: 1.2rem;
  height: 0.8rem;
  background: url(../img/arrow-black-down.svg) no-repeat center / contain;

  position: absolute;
  top: calc(50% - 3px);
  right: 2rem;

  transition: 250ms ease-in-out;
}

/* footer - bottom */
#footer .footer-bot {
}

#footer .footer-bot .link-box {
  margin-bottom: 3rem;
}

#footer .footer-bot .link-box ul {
  display: flex;
  align-items: center;
  color: #181818;
}

#footer .footer-bot .link-box ul li {
  margin-right: 4rem;
}

#footer .footer-bot .link-box ul li a {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.6rem;
}

#footer .footer-bot .copr-info {
  font-size: 0;
}

#footer .footer-bot .copr-info span {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
  margin-right: 2rem;

  position: relative;
}

#footer .footer-bot .copr-info span::before {
  content: "";
  display: block;
  width: 1px;
  height: 14px;
  background: #d2d2d2;

  position: absolute;
  top: calc(50% - 7px);
  right: -10px;
}

#footer .footer-bot .copr-info span:last-child {
  margin-right: 0;
}

#footer .footer-bot .copyright {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.6rem;
  margin-top: 2rem;
}

/* 헤더 스크롤 위치에 따른 애니메이션 동작 */
/* 스크롤이 맨 위가 아니었을 때 */
body[data-top="no-top"] #header {
  background-color: rgba(18, 18, 18, 0.9);
}

body[data-top="no-top"] #header .logo-box .logo {
  background-image: url(../img/logo-color-open.png);
}

/* gnb-open에 클래스를 가진 상태에서 no-top에 header */
.gnb-open body[data-top="no-top"] #header {
  background-color: transparent;
}

/* 스크롤 이벤트에 따라 바뀌는 애니메이션 */
/* scroll-down 클래스가 붙었을 떄 */
.scroll-down #header {
  top: -85px;
}

/* 스크롤이 내려갔을 때 gnb에 hover 했을 때 header 부분이 사라지지 않도록 하기위해서 0을 줌 */
.scroll-down.gnb-open #header {
  top: 0;
}

/* 패밀리 사이트 애니메이션 변화 */
#footer .footer-top .dropdown-box .link_list .link_open.on:before {
  transform: scaleY(-1);
}

#footer .footer-top .dropdown-box .link_list ul li a:hover {
  font-weight: 700;
}

/* 모바일 탑 메뉴 만들기 */
#haader .menu-open {
}

/* 미디어 쿼리 형성(반응형)  */
/* min-width는 위에 먼저 명령이 되어있으면 그 값을 우선으로 한다. */
/* 이유는 min-width는 작은 가로폭 그러니까 모바일부터 시작해서 데스크탑으로 구현한다고 생각하면 한다. */
/* 항상 데스크탑으로 만들어서 헷갈린 부분인 것 같다. */
/* max-width는 점점 폭이 작아지는 것으로 예를 들어 1600px -> 1024px -> 768px 이런식으로 작아지면서 설정하기 때문에 */
/* media (max-width : )은 큰 값부터 차례대로 명령을 실행한다. */
/* 그러나 min-width는 점점 가로폭이 커져가는 것으로 768px -> 1024px -> 1600px */
/* 작은 값부터 차례대로 명령을 실행한다. 그러므로 max-width와 반대로 생각하면 된다. */
/* 작은 가로폭부터 큰 가로폭 순서로 만드는 것이기에 작은 가로폭부터 조건에 부합한다. */
/* 헷갈리지 않고 당황하지 말자. */

@media screen and (min-width: 1201px) {
  /* depth 스타일 이쪽으로 이동 */
  .depth1 {
    padding-left: 18rem;
  }
  .depth1 .depth1-list {
    display: flex;
    width: 96rem;
    padding-top: 2rem;
    justify-content: center;

    /* display : flex 를 사용했지만 내부 요소들이 inline-block 요소를 가지고 있다면 */
    /* font-size에 의해 공백이 생길 수가 있음. 그래서 0으로 설정하면 공백이 제거되면서 요소들이 정확하게 배치 */
    /* gnb(depth_item1) 들이 예상보다 더 벌어지는 문제를 방지할 수 있음.*/
    font-size: 0; /* 요소 간 공백 제거 */
    line-height: 0; /* 불필요한 세로 여백 제거 */
  }

  /* 140px을 주지 않아도 140px로 되지만 공간을 초과하기에 넓이를 조절한다. */
  /*   .depth1 .depth1-list .depth_item1 {
    width: 14rem;
  } */
  .depth1 .depth1-list .depth_item1 {
    width: 14rem;

    position: relative; /* 서브메뉴들의 부모가 되기 위한  */
    vertical-align: top;
  }

  .depth1 .depth1-list .depth_text1 {
    display: block; /* display : block 을 줘야 text가 center로 간다 이유는 block을 줘야 자신만의 공간을 갖기 떄문인 것 같다. */
    font-size: 2rem;
    color: #000;

    text-align: center;
    line-height: 6.4rem;
    color: white;
    transition: 250ms;
  }

  /* 서브메뉴 depth2 */
  .depth2 {
    /* absolute는 부모 높이 계산에 포함되지 않음. */
    /* 그래서 depth1의 height는 자식 요소인 .depth2를 고려하지 않음. */
    position: absolute;
    width: 100%;
    /* 저거를 사용하면 헤더의 선에 딱 알맞게 걸친다. */
    height: calc(100% - 64px);

    background: #55f;
    visibility: hidden;
    opacity: 0;

    /* 메뉴의 경계선 */
    border-left: 1px solid rgba(255, 255, 255, 0.5);

    transition: opacity 250ms ease-in-out;
  }

  .depth2 .depth_list2 {
    padding: 24px 20px;
    /*   background: #5ff; */
  }

  .depth2 .depth_list2 .depth_text2 {
    display: block;
    font-size: 1.6rem;
    color: white;
    border: 1px solid #000;

    /* 오픈했을 떄로 이동 지금은 보이게 하기 위해서 */
    /*   padding: 10px 0;
    line-height: 1; */

    /* 여기에는 저 오픈했을 때 자연스럽게 하기 위한 트랜지션 */
    transition: 250ms ease-in-out;
    transition-property: line-height, padding;
  }

  /* hover시에 나오는 선 */
  .depth1 .depth1-list .depth_item1::after {
    content: "";
    display: block;
    position: absolute;
    top: 63px;
    z-index: 1;
    width: 100%;
    height: 3px;
    background-color: #008e43;

    /* hover 시 중앙에서 양쪽으로 선이 펼쳐지는 듯한 애니메이션을 만드는 기법 */
    /* transform rotateY(90deg)는 해당 요소를 Y축을 기준으로 90도를 회전시켜 정면에서 보이지 않도록 숨기는 효과를 준다. */
    /* rotateY(90deg)는  측면만 보이게 되어 실제로 선이 사라진 것 처럼 보인다. */
    /* 기본값이 center이기 때문에 중앙에서 나오는 듯한 느낌을 준다. */
    transform: rotateY(90deg);
    transition: 250ms ease-in-out;
  }

  .option {
    position: absolute;
    top: 30px;
    right: 30px;
  }

  .option .language .lang_select {
    position: relative;
    border: none;
    font-size: 1.6rem;
    color: white;

    /* 버튼 크기를 위한 padding */
    padding: 1rem 2rem;

    vertical-align: middle;
  }

  /* 버튼 옆 아이콘 */
  .option .language .lang_select::after {
    content: "";
    display: inline-block;
    width: 11px;
    height: 7px;

    margin-left: 4px;
    background-image: url(../img/lang_arrow.svg);
    background-repeat: no-repeat;

    background-size: contain;

    vertical-align: middle;
  }

  /* 언어 메뉴 서브메뉴 */
  .option .language .lang_list {
    position: absolute;
    width: 100%;

    background-color: rgba(255, 255, 255, 0.7);

    /* 하위 메뉴 보이지 않게 */
    visibility: hidden;
    opacity: 0;
  }

  .option .language .lang_list a {
    display: block;
    width: 100%;

    text-align: center;
    font-size: 1.6rem;
    color: #717171;

    padding: 5px 10px;
  }

  /* 헤더의 서브메뉴 */

  .gnb-open .depth1:before,
  .gnb-open .depth1:after {
    display: block;
  }

  /* hover시에 헤더 색 변경하기 위한 것으로 보임 */
  /* depth1의 전체 높이를 채우는 배경 레이어 (서브 메뉴가 떨어졌을 떄 채우는 배경) */
  /* height : 100%는 depth1의 원래 높이까지만 적용 */
  .depth1:before {
    content: "";
    position: absolute;
    top: 0;

    /* 중앙 정렬 방법 */
    left: calc(50% - 50vw);
    width: 100vw;
    /* 중앙 정렬 방법 */

    height: 100%;
    background-color: rgba(18, 18, 18, 0.9);
    display: none;
  }

  /* hover시 나오는 서브메뉴의 선 */
  .depth1::after {
    content: "";
    position: absolute;

    top: 0;

    /* 띄워서 잘 사용해야함. */
    left: calc(50% - 50vw);
    /* 띄워서 잘 사용해야함. */
    width: 100vw;
    height: 1px;

    background-color: rgba(255, 255, 255, 0.5);
  }

  .depth1 .depth1-list .depth_item1:hover::after {
    /* rotateY(0deg)로 되면서 정면으로 이동.*/
    transform: rotateY(0deg);
  }

  /* 마지막 오른쪽 메뉴 border 추가 */
  .depth1 .depth1-list .depth_item1:last-child .depth2 {
    border-right: 1px solid rgba(255, 255, 255, 0.5);
  }

  /* gnb가 hover 됐을 떄 효과 */

  /* 로고 이미지 변경 */
  .gnb-open #header .logo-box .logo {
    background-image: url(../img/logo-color-open.png);
  }

  /* 그래서 gnb-open 클래스를 가질 때 relative가 적용이 되면 depth2가 부모 요소인 depth1에 포함된다. */

  .gnb-open .depth2 {
    visibility: visible;
    /* gnb-open이 아닐 때 absolute를 풀어줘야 header에 검은색 배경이 height를 포함한다. */
    /* **depth2는ㄴ 서브메뉴이고 position absolute로 설정되어있음 depth1은 상위 메뉴  */
    /* .depth1:before가 depth1의 전체 높이를 채우는 반투명 배경의 레이어 */
    position: relative;
    opacity: 1;
  }

  .gnb-open .depth2 .depth_list2 .depth_text2 {
    /* 텍스트 높이 간격 설정 */
    padding: 10px 0;
    line-height: 1;
  }

  /* 텍스트 호버 효괴 */
  .gnb-open .depth2 .depth_list2 .depth_text2:hover {
    color: #008e43;
  }
}

/* 최대 넓이가 1601px이상 일 때 실행 */
@media screen and (min-width: 1601px) {
  /* 지금 본페이지와 다른 점은 header부분에 depth1 에 padding-left를 줬을 때 다름 */
  /* 문제점 파악하기. */
  .depth1 {
    padding-left: 32rem;
  }

  .depth1 .depth1-list {
    width: 96rem;
  }

  .depth1 .depth1-list .depth_item1 {
    width: 16rem;
  }

  .depth1 .depth1-list .depth_text1:hover {
    font-weight: 700;
  }
}

/* 최대 넓이가 1600px이하일 때 실행.  */
/* 쉽게 말해 1600px이상 넘으면 구현되지 않음. */
@media screen and (max-width: 1600px) {
  /* header의 반응형을 위한 wrap  */
  .wrap {
    width: 120rem;
  }
}

/* 본페이지는 min-width: 1200px에 스타일 구현 */
@media screen and (max-width: 1200px) {
  /*   .depth1 .depth1-list .depth_item1 {
    display: none;
  } */

  .wrap {
    width: 94vw;
  }

  /* 헤더  */
  #header {
    height: 64px;
  }

  #header::before {
    top: 64px;
  }

  #header .logo-box .logo {
    /* 위치를 지정하지 않을 때 사용하는 기본값 */
    /* 요소들이 HTML에 작성된 순서 그대로 브라우저 화면에 표시된다. top, left, 같은 속성이 적용되지 않음. */
    /* 처음 .logo는 absolute를 가지고 있었는데. 절대적인 요소에서 top과 lett와 같이  */
    /* 위치를 조정해주는 코드가 있었기 때문에 header 높이가 변하여 .logo의 위치가 틀어졌을 것이다. */
    /* 그래서 position : static을 통해 높이를 맞추고 일반적인 흐름을 따라간 것으로 보인다 */
    /* 그리고 탭메뉴의 아이콘이 나오기 때문에 그것괴도 연관되서 이유가 있을 것으로 보인다. */
    /* 그냥 absolute인 상황에서 top만 0으로 바꿔주면 위치가 맞지만 탭메뉴 아이콘 연동되는 것 때문에 사용하지 않은 것으로 보인다. */
    position: static;
  }

  /* 모바일 탭 메뉴 만들기  */
  .menu-open {
    display: block;
    width: 3rem;
    height: 3rem;
    background: #f5f url(../img/menu-open.png) no-repeat center / contain;
    position: absolute;
    /* 이게 중간으로 가는 이유는 wrap에 depth1에 관련된 것들이 wrap과 떨어지기 때문에 */
    /* 크기를 갖지 않고 wrap은 header의 크기만을 가져버리기 때문에  */
    /* 지금은 depth1이 포함된 wrap에 50%을 가지면 그 크기의 중간에 있기 때문에 한참 떨어져 있는 것 처럼 보일 것이다. */
    top: calc(50% - 15px);
    right: 0;
    font-size: 0;
  }

  /* 서브메뉴 탭 스타일을 만들기 */
  .gnb {
    /* .gnb의 fixed를 주게 되면 menu-open의 아이콘이 자리를 정상적으로 잡을 수 있게 된다. */
    /* position : fixed도 절대요소 중 하나이기 때문에 HTML문서의 흐름을 따라가지 않게 된다. */
    position: fixed;
    z-index: 10;
    top: 64px;
    right: 0;
    width: 45rem;
    /* 100vh 뷰포트 높이가 화면에 꽉 차게 */
    height: 100vh;

    background: #181818;
  }

  /* 서브메뉴 탭이 활성화됐을 때 화면처리 */
  .gnb-curtain {
    display: block;
    /* absolute를 사용하게 돠면 wrap에 relative가 있기 때문에 화면을 꽉차지 못하게 된다. */
    /* 그래서 fixed을 활용해 부모 요소 관계없이 브라우저 화면의 상대 위치를 기준으로 단독으로 절대 요소를 가지게 된다. */
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
  }

  /* 서브메뉴의 탭에 top부분 */
  .gnb-top {
    display: block;
    /* 이것도 fixed를 활용해야 단독으로 행동한다. */
    position: fixed;
    top: 0;
    right: 0;
    width: 45rem;
    height: 64px;
    background: #181818;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 30px;
  }

  /* 탭메뉴의 아이콘과 닫기 버튼 */
  .gnb .gnb-top .logo-box .logo_inner-type {
    display: block;
    width: 16rem;
    height: 64px;
    background: url(../img/logo-color-open.png) no-repeat center / contain;
  }

  .gnb .gnb-top .menu-close {
    display: block;
    width: 3rem;
    height: 3rem;
    background: url(../img/menu-close.png) no-repeat center / contain;

    font-size: 0;
    color: transparent;
  }

  /* 서브 탭메뉴의 메뉴들 */
  .depth1 .depth1-list .depth_text1 {
    display: block;
    padding: 20px;
    color: white;
    font-size: 18px;
  }

  /* 탭메뉴의 언어 */
  .option {
    /* 마진을 주고 패딩을 활용 -> 선떄문에 그런 것 같음 */
    margin: 40px 20px 0;
    padding-top: 40px;

    border-top: 1px solid #adadad;
  }

  .option .language .lang_select {
    display: none;
  }

  .option .lang_list {
    display: flex;
  }

  .option .lang_list li a {
    color: #adadad;
    font-size: 16px;
    font-weight: 300;
  }

  /* 본페이지에서 사용한 방법 */
  .option .language .lang_list li + li {
    margin-left: 45px;
    /* relative를 준 이유는 가상요소를 넣어줄 생각  */
    position: relative;
  }

  /* 가상요소를 이용한 세로 선 */
  .option .language .lang_list li + li:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -22px;
    width: 1px;
    height: 100%;

    background-color: #adadad;
  }

  .header-copyright {
    display: block;

    margin-top: 34px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    color: white;
  }

  /* 내가 사용했던 방법법 */
  /*   .option .lang_list li:last-child a {
    margin-left: 50px;
  }
 */

  /* 모바일 서브탭메뉴에서 서브메뉴 */
  .depth2 {
    display: none;
  }
}
